<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Yuriy Starkov</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
    <style type="text/css" media="screen">
        :root {
            font: 20px "Ubuntu Condensed", sans-serif;
        }

        body,
        body * {
            margin: unset;
            box-sizing: unset;
            padding: unset;
            font-size: unset;
            color: unset;
            text-decoration: unset;
        }
    </style>
</head>

<body class="bg-near-black gold">
    <main class="pa3 center measure-wide lh-copy">
        <!-- banner-begin -->
        <div class="db flex">
            <a href="/">
                <div class="ba gold border-box b--dashed dib f1 bw2 pa3 fl">
                    <h1 class="helvetica lh-solid mt0 mb0" href="/">
                        NOT</br>百合
                    </h1>
                </div>
            </a>
            <p class="dib helvetica tc i center w-50">
            </p>
        </div>
        <!-- banner-end -->
        </br>
        <main>
            {{ content | safe }}
        </main>
    </main>
</body>

</html>
